.icon{
    width: 24px;
    height: 24px; 
}
.input{
    display: flex;
    align-items: center;
}
.input img{
    margin-right: 8px;
}
.container{
 display: flex;
 flex-direction: column;
 margin: auto;
 margin-top: 200px;
 background: #fff;
 padding-bottom: 15px;
 /* padding-top: 30px; */
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;

}
.text{
    color: #3c009d;
    font-size: 40px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background:#3c009d;
    border-radius: 9px;
}
.inputs{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
     height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px; 
}
.submit_container{
  align-items: center;
  margin: auto;
}
.submit{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.already{
    align-items: center;
    margin: auto;
    
}
.Login_here{
    align-items: center;
    margin: auto;
    cursor: pointer;
    color: #1e46e8;
}
